body {
    font-family: 'Montserrat', sans-serif;
  }

/*Navegador*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav .logo-container {
    margin-right: 20x;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-right: 100px;
  }
  
  nav ul li.large-text {
    margin-right: 100px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #1D2C59;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 0px;
  }
  
  li{
    font-weight: bold;
  }

/*Main*/
.section-formulario{
background-color: #1D2C59;
padding: 50px 100px 50px 100px;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.article-formulario{
  background-color: #D9D9D9;
  padding: 50px;
  border-radius: 50px;
  width: 1000px;

}
.div-form{
display: grid;
  place-items: center;

}
.formulario{
  display: flex;
justify-content: center;
flex-wrap: wrap;
width: 700px;
}

.form-pregunta{
  margin: 75px 10px 10px 10px;
  width: 750px;
}

.DatoNombre{
  background-color: #1D2C59;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;

}
.DatoRellenar{
  width: 650px;
  height: 30px;
  border-radius: 10px;
  display: grid;
  font-size: 20px;
  padding-left: 15px;
 }
 .DatoRellenarDetalle{
  display: inline-block;
  width: 650px;
  height: 150px;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 15px;
  font-family: 'Montserrat', sans-serif;
 }

 .button-enviar{
  background-color: #1D2C59;
  color: white;
  font-size: 20px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  margin-top: 30px;
 }


  /*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
  }
  .li-footer{
    display: flex;
  }
  .li-redes-sociales{
    display: flex;
    place-items: center;
    padding: 20px;
  }
  .titulo-final{
    padding: 10px 10px 25px 10px;
    color: #1D2C59;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }