body {
    font-family: 'Montserrat', sans-serif;
  }

/*Navegador*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  nav .logo-container {
    margin-right: 20x;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-right: 100px;
  }
  
  nav ul li.large-text {
    margin-right: 100px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #1D2C59;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 0px;
  }
  
  li{
    font-weight: bold;
  }

/*Main*/

/*bienvenida*/
.section-bienvenida{
  background-color: #1D2C59;
  display: flex;
  justify-content: center;
  padding: 40px;
}
.article-bienvenida{
  background-color: white;
  border-radius: 10px;
  width: 750px;
  padding: 20px 30px;
}

.bienvenida-descripcion{
  font-size: 20px;
  margin-top: 10px;
  text-align: justify;
}

.titulo-bienvenida{
  font-weight: bold;
  font-size: 35px;
}

h1,
h2,
h3,
p {
  text-align: center;
}

/*empresa*/
.section-empresa{
  background-color: #F5F5F5;
  display: flex;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.article-empresa{
  background-color: white;
  border-radius: 10px;
  width: 650px;
  padding: 20px 30px;
  display: grid;
  place-items: center;
  margin: 10px;
}
.titulo-empresa{
background-color: #1D2C59;
color: white;
width: 150px;
border-radius: 10px;
padding: 10px 15px 10px 15px;
font-size: 20px;
}

.empresa-descripcion{
  font-size: 15px;
  margin-top: 10px;
  text-align: justify;
  margin: 10px 15px 15px 15px;
}
/*valores de la empresa*/

.section-valores{
  background-color: #1D2C59;
  display: grid;
  padding: 40px;
  place-items: center;
}
.titulo-principal{
  font-weight: bold;
  font-size: 35px;
  color: white;
  padding-bottom: 30px;

}
.div-fondo-valores{
  background-color: #1D2C59;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article-valores{
  display: grid;
  background-color: white;
  border-radius: 50%;
  width: 225px;
  height: 225px;
  place-items: center;
  margin: 20px;
}

.titulo-valores{
  background-color: #1D2C59;
  color: white;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  margin-top: 15px;
}

.valores-descripcion{
  font-size: 12px;
  width: 150px;
  margin-bottom: 20px;
}

  /*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
  }
  .li-footer{
    display: flex;
  }
  .li-redes-sociales{
    display: flex;
    place-items: center;
    padding: 20px;
  }
  .titulo-final{
    padding: 10px 10px 25px 10px;
    color: #1D2C59;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }